<div class="alternating" id="services">
	{% for feature in page.features %}
	<div>
		<img src="{{ feature.image_path}}" alt=""/>
		<hgroup class="">
			<h2 class="editable">{{ feature.title }}</h2>
			<article>
				{{ feature.description_html }}
			</article>
			{% unless feature.button_url == nil %}
			<a href="{{ feature.button_url }}" class="button">{{ feature.button_text }}</a>
			{% endunless %}
		</hgroup>
	</div>
	{% endfor %}
</div>