<div class="banner" {% if page.banner_background_image %} style ='background-image: url({{page.banner_background_image}}' {% endif %}>
	{% if page.banner_video_path %}
		<video playsinline autoplay muted loop pageer="polina.jpg" id="bgvid">
		    <source src="{{page.banner_video_path}}" type="video/mp4" />
		</video>
	{% endif %}
	<hgroup>
		{% unless page.headline == nil %}
			<h1>{{ page.headline }}</h1>
		{% endunless %}
		
		{% unless page.sub_head == nil %}
			<h2>{{ page.sub_head }}</h2>
		{% endunless %}
		
		<section class="post-info">
			<span>Posted in <strong>{{ page.category }}</strong> on <strong>{{ page.date | date:" %b %d, %Y" }}</strong> by: <strong>{{ page.author | downcase | replace:'-',' ' }}</strong></span>
		</section>
	
	</hgroup>
	<img src="{{page.banner_bottom_image}}" alt="" class="banner-bottom" />
</div>