<section class ="schedule" id ="schedule">
	<h1> Schedule your job </h1>
	    <!-- Calendly inline widget begin -->
	<div class="calendly-inline-widget" data-url="{{page.calendly}}" style="min-width:320px;height:580px;"></div>
	<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
	<!-- Calendly inline widget end -->
</section>