<div class="contact-form" id="contact-form">
	<h2>Contact Us</h2>
	<section class="contact">
		<p><img src="/images/icons/mail.svg" alt="" /><span title="email">{{ site.data.info.email }}</span></p>
		<p><img src="/images/icons/phone.svg" alt="" /><span title="phone">{{ site.data.info.phone }}</span></p>
	</section>
	
<form method="post" action="/thank-you">
    <label>
        <img src="//d1qmdf3vop2l07.cloudfront.net/social-pond.cloudvent.net/compressed/5289bd2198d37d009ff2415c6a6da3ad.svg" alt="" data-cms-original-src="/images/mail.svg" />
        <input type="text" name="email" placeholder="email" />
    </label>
    <label>
    	<img src="//d1qmdf3vop2l07.cloudfront.net/social-pond.cloudvent.net/compressed/71daf8c4aacf98b41312c42385366853.svg" alt="" data-cms-original-src="/images/person.svg" />
    	<input type="text" name="name" placeholder="First Last" />
	</label>
	<label>
		<img src="//d1qmdf3vop2l07.cloudfront.net/social-pond.cloudvent.net/compressed/8fc682e541fb8dce02419f1822301415.svg" alt="" data-cms-original-src="/images/message.svg" />
		<textarea name="message"></textarea>
	</label>

    <input type="hidden" name="_to" value="kevin@truetakemedia.com,roy@championinstallations.com">
    <input type="hidden" name="_cc" value="sales.tracker@example.com">
    <input type="text" name="_gotcha" style="display: none;">
    <div class="g-recaptcha" data-sitekey="6LeryVgUAAAAAHeXOhvqlSEbZH7iZ12IEdDxr1zM"></div>
    
    <input type="submit" value="Send Message" class="button">
</form>

</div>