<footer class="footer">
	<section>
		
		<div class="social">
			<a href="{{ site.data.info.facebook_url }}" target="_blank"><span class="fa fa-facebook-official"></span></a>
			<a href="{{ site.data.info.instagram_url }}" target="_blank"><span class="fa fa-instagram"></span></a>
			<a href="{{ site.data.info.youtube_url }}" target="_blank"><span class="fa fa-youtube"></span></a>
			<a href="{{ site.data.info.twitter_url }}" target="_blank"><span class="fa fa-twitter"></span></a>
			<a href="{{ site.data.info.snapchat_url}} " class="snapchat-button"><span class="fa fa-snapchat-square"></span></a>
		</div>
		

		{% include nav.html %}
		
		<p class="copyright">© Copyright {{ 'now' | date: "%Y" }}. {{ site.title }}. All Rights Reserved.</p>
		
		<a href="http://www.homeadvisor.com/rated.ChampionFlooring.75147204.html" style="display: block; margin: 0 auto;"><img alt="Rated & Reviewed HomeAdvisor Pro" style="display:block;" src="http://www.homeadvisor.com/images/sp-badges/soap-solid-border.png?sp=75147204&key=32f21f1217eed94f4bbcfbb5abf030ca" /></a>
		
	</section>
</footer>