<nav class="main-nav">
	<a href="#services">Classifications</a>
	<a href="#photos">Gallery</a>
	<a href="/" class="logo">
		<img src="/images/logos/logo.svg" alt="" />
	</a>
	<a href="#calendar">Schedule</a>
	<a href="#contact-form">Contact Us</a>
</nav>