---
layout: default
title: Contact
permalink: /contact
nav_title: Contact
navclass: /contact
navorder: 3
hide_from_nav: false
banner_header: Contact Information
banner_background_image: images/banner/workspace.jpg
banner_bottom_image: images/banner/banner-bottom.svg
---
{% include banner.html %}

<section class="contact">
		<p><img src="/images/icons/marker.svg" alt="" /><span title="Address">{{ site.data.info.mailing}}<br /> {{ site.data.info.city}}, {{site.data.info.state}} {{site.data.info.zip}} </span></p>
		<p><img src="/images/icons/mail.svg" alt="" /><span title="email">{{ site.data.info.email }}</span></p>
		<p><img src="/images/icons/phone.svg" alt="" /><span title="phone">{{ site.data.info.phone }}</span></p>
		<p><img src="/images/icons/fax.svg" alt="" /><span title="fax">{{ site.data.info.fax }}</span></p>
</section>

{% include map.html %}

