---
layout: default 
title: Home
permalink: /
navtitle: Home
navclass: /
navorder: 1
hide_from_nav: true
banner_headline: <strong>Champion Flooring & Installations LLC</strong>
banner_subhead: 'Active License: 10522930-5501'
banner_logo_image: /images/logos/logo.svg
banner_background_image: 
banner_bottom_image: images/banner/banner-bottom.svg
banner_video_path: /videos/bg.mp4
banner_button_link:
banner_button_text:
calendly: https://calendly.com/richardtimpson
features:
  - title: <strong>S290</strong> Tile & Stone
    image_path: /images/photos/tile-stone.jpg
    description_html: '<p>Construction by cutting, and/or laying of all
    of the following brick, block, or forms: architectural, industrial, and refractory brick,
    all brick substitutes, clay and concrete blocks, terra-cotta, thin set or structural
    quarry tile, glazed structural tile, gypsum tile, glass block, clay tile, copings,
    natural stone, plastic refractories, and castables and any incidental works, including
    the installation of shower pans, as required in construction of the masonry work.</p>'
    button_url:
    button_text:
  - title: <strong>S490</strong> Wood Flooring
    image_path: /images/photos/wood-flooring.jpg
    description_html: '<p>Installation of wood flooring including
    prefinished and unfinished material, sanding, staining and finishing of new and existing
    wood flooring. Underlayments, non-structural subfloors and other incidental related
    work.</p>'
    button_url:
    button_text:
photos:
  - photo_path: /uploads/work1.jpg
  - photo_path: /uploads/work6.jpg
  - photo_path: /uploads/work8.jpg
  - photo_path: /uploads/work10.jpg
  - photo_path: /uploads/work13.jpg
  - photo_path: /uploads/work3.jpg
  - photo_path: /uploads/work7.jpg
  - photo_path: /uploads/work5.jpg
  - photo_path: /uploads/work11.jpg
  - photo_path: /uploads/work4.jpg
  - photo_path: /uploads/work9.jpg
  - photo_path: /uploads/work2.jpg
  - photo_path: /uploads/work12.jpg
---

{% include banner.html %}
{% include alternating.html %}
{% include gallery.html %}
<!--<div class="calendar" id="calendar">
	<iframe src="https://calendar.google.com/calendar/embed?src=kevin%40truetakemedia.com&ctz=America%2FDenver" style="border: 0" width="800" height="600" frameborder="0" scrolling="no" class="calendar"></iframe>
</div>-->

<!--<div id='calendar'></div>-->
{% include contact.html %}

<!--<section class="contact">
		<p><img src="/images/icons/marker.svg" alt="" /><span title="Address">{{ site.data.info.mailing}}<br /> {{ site.data.info.city}}, {{site.data.info.state}} {{site.data.info.zip}} </span></p>
		<p><img src="/images/icons/mail.svg" alt="" /><span title="email">{{ site.data.info.email }}</span></p>
		<p><img src="/images/icons/phone.svg" alt="" /><span title="phone">{{ site.data.info.phone }}</span></p>
		<p><img src="/images/icons/fax.svg" alt="" /><span title="fax">{{ site.data.info.fax }}</span></p>
</section>-->


