---
---
<html>
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        
        <link rel="stylesheet" href="/css/style.css">
		

        <script type="text/javascript" src="/scripts/jquery-1.11.3.min.js"></script>
        <script type='text/javascript' src='/scripts/main.js'></script>
		
		<script src="/scripts/strip.pkgd.min.js" type="text/javascript"></script>
		<link rel="stylesheet" href="/css/strip.css" />
		
        
        <link rel='stylesheet' href='/fullcalendar/fullcalendar.css' />
        <!--<script src='/fullcalendar/lib/jquery.min.js'></script>-->
        <script src='/fullcalendar/lib/moment.min.js'></script>
        <script src='/fullcalendar/fullcalendar.js'></script>
        
        
        <script type='text/javascript'>
        
        $(function() {
          $('#calendar').fullCalendar({
            googleCalendarApiKey: 'AIzaSyB8C1b7kwtw7692bPgKp9JatyY4o-2FVug',
            events: {
              googleCalendarId: 'en.usa#holiday@group.v.calendar.google.com'
            }
          });
        });
        
        </script>
		
		<script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body>
    	{% include header.html %}
        <div class="content">
    		<div>
    			{{ content }}
    		</div>
	        {% include footer.html %}
    	</div>
    </body>
</html>


